#pywebio-scope-arg_container-stored-InventoryTool_PlayerStorage_InventoryData,
#pywebio-scope-arg_container-stored-InventoryTool_PlayerStorage_StockData,
#pywebio-scope-arg_container-stored-ShopWizard_ShopWizard_ShopWizardRequests,
#pywebio-scope-arg_container-stored-SafetyDepositBox_SafetyDepositBox_DepositData {
    display: block;
}

.neoitem {
    display: inline-block;
    padding: 4px;
}

.neoitem img {
    height: 48px;
    width: 48px;
}

.infobox {
    border: 1px solid #202225;
    background-color: #2f3136;
    padding: .5rem;
    color: #ffffff;
}

.infobox > div > span {
    text-decoration: bold;
}

#item_info_title {
    text-decoration: bold;
    font-size: larger;
    padding-bottom: 1rem;
}

.selected {
    background-color: #7289da;
    color: #ffffff;
}

#pywebio-scope-killer_btn div button {
    margin: auto;
}
