#pywebio-scope-arg_container-stored-InventoryTool_PlayerStorage_InventoryData {
    display: block;
}

#pywebio-scope-arg_container-stored-InventoryTool_PlayerStorage_StockData {
    display: block;
}

.neoitem {
    display: inline-block;
    padding: 4px;
}

.neoitem img {
    height: 48px;
    width: 48px;
}