#pywebio-scope-arg_container-stored-InventoryTool_PlayerStorage_InventoryData,
#pywebio-scope-arg_container-stored-InventoryTool_PlayerStorage_StockData,
#pywebio-scope-arg_container-stored-SafetyDepositBox_SafetyDepositBox_DepositData {
    display: block;
}

[id^="pywebio-scope-arg_container-stored-list-"] {
    display: block;
}

.neoitem {
    display: inline-block;
    padding: 4px;
}

.neoitem img {
    height: 48px;
    width: 48px;
}

.infobox {
    border: 1px solid #202225;
    background-color: #2f3136;
    padding: .5rem;
    color: #ffffff;
}

.infobox > div > span {
    text-decoration: bold;
}

#item_info_title {
    text-decoration: bold;
    font-size: larger;
    padding-bottom: 1rem;
}

.selected {
    background-color: #7289da;
    color: #ffffff;
}

#pywebio-scope-killer_btn div button {
    margin: auto;
}


#pywebio-scope-util-buttons,
#pywebio-scope-dev-log {
    font-weight: 500;
    margin: 0.3125rem;
    padding: 0.625rem;
}

#pywebio-scope-dev-log {
    overflow-y: auto;
    line-height: 0.6rem;
    font-size: 0.85rem;
    font-family: Menlo, consolas, DejaVu Sans Mono, Courier New, monospace;
    white-space: pre;
}